<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eHealthManagement -->
      <package
            uri="http://www.example.org/eHealthManagement"
            class="eHealthManagement.EHealthManagementPackage"
            genModel="model/eHealthManagement.genmodel"/>
   </extension>

</plugin>
